<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gamer.sass">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="gamer.sass.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="gamer.sass.LoginMain" />
        <activity
            android:name="gamer.sass.Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="gamer.sass.NewProduct">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamer.sass.Homepage" />
        </activity>
        <activity
            android:name="gamer.sass.DetailsProduct"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamer.sass.Homepage" />
        </activity>
        <activity android:name="gamer.sass.RegisterMain" />
        <activity android:name="gamer.sass.AboutMe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamer.sass.Homepage" />
        </activity>
        <activity android:name="gamer.sass.WriterCorner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamer.sass.Homepage" />
        </activity>
        <activity android:name="gamer.sass.UserAds">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamer.sass.Homepage" />
        </activity>
        <activity android:name="gamer.sass.User_Account"></activity>
    </application>

</manifest>